.dflex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.logo-text{
    display: flex; 
    align-items:center; 
    padding-left: 30px;
}
.logo-image{
    width: 50%;
}
@media only screen and (max-width: 900px) {
    .logo-image{
        width: 100px;
        margin-top: 10px;
    }  
}
.wide-image{
    width: 100%;
}
.wide-image-2{
    display: none;
}

@media only screen and (max-width: 480px) {
.wide-image {
            display: none;
        }
.wide-image-2{
            display: flex;
        }
}

.bg-w{
    background-color: white;
}
.icon-image{
    width: 60px;
}

.iconos{
    max-width: 160px;
    height: 120px;
}

.ul-nav {
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.p-40 {
    padding: 40px;
}
@media only screen and (max-width: 480px) {
    .p-40 {
        padding: 0;
        padding-bottom: 30px;
        padding-top: 40px;

        }
    .ul-nav {
            padding: 0;
        }
      }

.m-80 {
    margin-top: 80px;
}

.pb-40 {
    padding-bottom: 40px;
}

.min-height-260 {
    min-height: 260px;
}
@media only screen and (max-width: 480px) {
    .m-80 {
            margin-top: 0;
        }
    .min-height-260 {
            margin-top: 38px;
        }
}

.div-como-funciona {
    background-color: #F2F2F2;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #154957;
    transition: transform 0.5s ease-in-out;
}

@media only screen and (max-width: 900px) {
    .div-como-funciona {
        height: 310px;
        }
    }
@media only screen and (max-width: 480px) {
     .div-como-funciona {
      height: 20%;
         }
  }
.div-como-funciona:hover {
    transform: rotateY(180deg);
}

#features {
    background: linear-gradient(to bottom,#154957 0%, #154957 52%, #F2F2F2 52%, #F2F2F2 100%);
    padding: 100px 0px;
  }
@media only screen and (max-width: 900px) {
    #features {
        padding: 0;
        background: linear-gradient(to bottom,#092831 0%, #154957 8%, #154957 12%, #F2F2F2 12%, #F2F2F2 100%);
        }
      }
@media only screen and (max-width: 480px) {
     #features {
         padding: 0;
        background: linear-gradient(to bottom,#092831 0%, #154957 8%, #154957 17%, #F2F2F2 17%, #F2F2F2 100%);
        }
    }
.h2-como-funciona {
    color: #F2F2F2;

}

.big-text {
    font-family: "Bold";
    color: #15E384;
    font-size: 102px;
}
@media only screen and (max-width: 480px) {
    .big-text {
        font-size: 60px;
        margin-top: 50px;
        }
      }

.small-text {
    color: #F2F2F2;
    font-size: 72px;
}
@media only screen and (max-width: 480px) {
    .small-text {
        font-size: 60px;
        }
      }

#about p {
    font-family: "Regular";
    color: #F2F2F2;
    font-size: 17px;
    line-height: 160%;
}
@media only screen and (max-width: 900px) {
    #about p {
       font-size: 24px; 
       line-height: 200%;
       font-family: "Light";
       }
   }

@media only screen and (max-width: 480px) {
    #about p {
        font-size: 20px;
        line-height: 170%;
        font-family: "Light";
        }
      }

#team {
    background: #154957;

}

#team p {
    color: #F2F2F2;
    font-family: "Regular";

}

#team h2 {
    color: #F2F2F2;
    font-family: "Regular";

}

#team h4 {
    font-size: 28px;
    color: #f2f2f2;
    font-family: "Bold";

}

#team span {
    color: #15E384;
    font-family: "Light";

}

#contact p {
    color: #f2f2f2;
}

#contact button {
    color: #f2f2f2;
}

.my-offset {
    right: 20%;
}

.about-button{
    margin-top: 40%;
    margin-left: 25%;
}
@media only screen and (max-width: 900px) {
    .about-button{
            margin-top: 40px;
            margin-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .about-button{
        margin-top: 30%;
        margin-left: 25%;
    }
}


#about button {
    font-size: 32px;
    font-family: "Bold";
    width: 100%;
}
@media only screen and (max-width: 900px) {
    #about button {
        width: 100%;
        margin-top: 60px;
      }
    }
@media only screen and (max-width: 480px) {
    #about button {
        font-size: 27px; 
      }
    }

#header span {
    animation: color-change-1 7s;
    animation-iteration-count: 1;

}

@keyframes color-change-1 {
    0% {
        color: #f2f2f2;
    }
    100% {
        color: #15E384;
    }
}

.anchor-cf {
    position: absolute;
    top: -22vh; 
    left: 0px;
  }
  @media only screen and (max-width: 900px) {
    .anchor-cf {
            top: -8vh; 
        }
    }
  @media only screen and (max-width: 480px) {
    .anchor-cf {
        top: -10vh; 
      }
    }


.anchor-i {
    position: absolute;
    top: -28vh; 
    left: 0px;
  }
  @media only screen and (max-width: 900px) {
    .anchor-i {
        top: -23vh; 
      }
    }
  @media only screen and (max-width: 480px) {
    .anchor-i {
        top: -19vh; 
      }
  }

.anchor-p {
    position: absolute;
    top: -26vh; 
    left: 0px;
  }
  @media only screen and (max-width: 1200px) {
    .anchor-p {
         top: -21vh; 
      }
     }
  @media only screen and (max-width: 900px) {
    .anchor-p {
         top: -29vh; 
      }
     }
@media only screen and (max-width: 480px) {
    .anchor-p {
        top: -18vh; 
      }
    }


.anchor-t {
    position: absolute;
    top: -26vh; 
    left: 0px;
  }
  @media only screen and (max-width: 900px) {
    .anchor-t {
         top: -30vh; 
     }
    }
  @media only screen and (max-width: 480px) {
    .anchor-t {
        top: -18vh; 
      }
    }


.anchor-c {
    position: absolute;
    top: -24vh; 
    left: 0px;
  }
@media only screen and (max-width: 1200px) {
    .anchor-c {
         top: -18vh; 
      }
     }
@media only screen and (max-width: 900px) {
        .anchor-c {
            top: -16vh; 
          }
        }  
  @media only screen and (max-width: 480px) {
    .anchor-c {
        top: -17vh; 
      }
    }



.btn-gallery {
    margin: 30px;
}

#portfolio {
    background: linear-gradient(to top,#154957 0%, #F2F2F2 65%);
}

#portfolio .btn-custom {
    background: transparent;
    border: 2px solid #154957;
    color: #154957;
}

#portfolio .btn-custom:hover {
    background: #154957;
    color: #f2f2f2;
}

#features h2::after {
    background: #F2F2F2;
}

#portfolio h2 {
    color: #154957;
}

#team h2::after {
    background: #F2F2F2;
}

#about .container {
    overflow: hidden;
} 

.small-screen-btn{
    display: none;
}
@media only screen and (max-width: 480px) {
.browser-btn{
        display: none; 
    }
.small-screen-btn{
        margin-top: 52px;
        display: flex;
        font-size: 27px;
    }
}

@media only screen and (max-width: 480px) {
    #features .row {
        margin-bottom: 70px;
    }
    #features p {
        margin-bottom: 0;
    }
    .margin-mobile-cf {
        margin-top: 40px;
    }
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

@media only screen and (max-width: 480px) {
    .navbar-default .navbar-toggle {
        margin-top: 35px;
    }
}

#root {
    overflow-x: hidden;
}