.dflex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.logo-text{
    display: flex; 
    align-items:center; 
    padding-left: 30px;
}
.logo-image{
    width: 50%;
}
.wide-image{
    width: 100%;
}
.bg-w{
    background-color: white;
}
.icon-image{
    width: 60px;
}

.iconos{
    max-width: 160px;
    height: 120px;
}

.ul-nav {
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.p-40 {
    padding: 40px;
}
@media only screen and (max-width: 480px) {
    .p-40 {
        padding: 0;
        padding-bottom: 30px;
        padding-top: 40px;

        }
      }

.m-80 {
    margin-top: 80px;

}

.pb-40 {
    padding-bottom: 40px;
}

.min-height-260 {
    min-height: 260px;
    /* padding-left: 0;
    padding-right: 0; */

}

.div-como-funciona {
    background-color: #F2F2F2;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #154957;
    transition: transform 0.5s ease-in-out;
}
@media only screen and (max-width: 480px) {
    .div-como-funciona {
        height: 20%;
        }
      }

.div-como-funciona:hover {
    transform: rotateY(180deg);
}

#features {
    background: linear-gradient(to bottom,#154957 0%, #154957 52%, #F2F2F2 52%, #F2F2F2 100%);
    padding: 100px;
  }
@media only screen and (max-width: 480px) {
    #features {
        padding: 0;
        background: linear-gradient(to bottom,#092831 0%, #092831 17%, #F2F2F2 17%, #F2F2F2 100%);
        }
      }

.h2-como-funciona {
    color: #F2F2F2;

}

.big-text {
    font-family: "Bold";
    color: #15E384;
    font-size: 102px;
}
@media only screen and (max-width: 480px) {
    .big-text {
        font-size: 60px;
        margin-top: 50px;
        }
      }

.small-text {
    color: #F2F2F2;
    font-size: 72px;
}
@media only screen and (max-width: 480px) {
    .small-text {
        font-size: 60px;
        }
      }

#about p {
    font-family: "Regular";
    color: #F2F2F2;
    font-size: 17px;
}
@media only screen and (max-width: 480px) {
    #about p {
        font-size: 20px;
        }
      }


#team {
    background: #154957;

}

#team p {
    color: #F2F2F2;
    font-family: "Regular";

}

#team h2 {
    color: #F2F2F2;
    font-family: "Regular";

}

#team h4 {
    font-size: 28px;
    color: #f2f2f2;
    font-family: "Bold";

}

#team span {
    color: #15E384;
    font-family: "Light";

}

#contact p {
    color: #f2f2f2;
}

#contact button {
    color: #f2f2f2;
}

.my-offset {
    right: 20%;
}

.about-button{
    margin-top: 40%;
    margin-left: 25%;
}

#about button {
    font-size: 32px;
    font-family: "Bold";
    width: 100%;
}
@media only screen and (max-width: 480px) {
    #about button {
        font-size: 27px; 
      }
    }


#header span {
    animation: color-change-1 7s;
    animation-iteration-count: 1;

}

@keyframes color-change-1 {
    0% {
        color: #f2f2f2;
    }
    100% {
        color: #15E384;
    }
}

.anchor-cf {
    position: absolute;
    top: -22vh; 
    left: 0px;
  }
  @media only screen and (max-width: 480px) {
    .anchor-cf {
        top: -12vh; 
      }
    }

.anchor-i {
    position: absolute;
    top: -28vh; 
    left: 0px;
  }

.anchor-p {
    position: absolute;
    top: -26vh; 
    left: 0px;
  }

.anchor-t {
    position: absolute;
    top: -26vh; 
    left: 0px;
  }

.anchor-c {
    position: absolute;
    top: -24vh; 
    left: 0px;
  }


.btn-gallery {
    margin: 30px;
}

#portfolio {
    background: linear-gradient(to top,#154957 0%, #F2F2F2 65%);
}

#portfolio .btn-custom {
    background: transparent;
    border: 2px solid #154957;
    color: #154957;
}

#portfolio .btn-custom:hover {
    background: #154957;
    color: #f2f2f2;
}

#features h2::after {
    background: #F2F2F2;
}

#portfolio h2 {
    color: #154957;
}

#team h2::after {
    background: #F2F2F2;
}

#about .container {
    overflow: hidden;
} 

.small-screen-btn{
    display: none;
}
@media only screen and (max-width: 480px) {
.browser-btn{
        display: none; 
    }
.small-screen-btn{
        margin-top: 70px;
        display: flex;
        font-size: 27px;
    }
}

@media only screen and (max-width: 480px) {
    #features .row {
        margin-bottom: 40px;
    }
}